* {
margin: 0;
padding:0;
font-family: 'Open Sans', sans-serif;

box-sizing: border-box;

}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    background:white;
}
.card {
   
    padding:2em;
    width:100%;
    max-width:700px;
    margin:3cm auto;
     height:600px;
    border: 2px ridge #ccc; 
    
    
    border-radius: 10px;
    
}
form {
    background: #f0f0f0;
    width: 500px;
    display: flex;
    margin:0;
    border-color: #7D7C7C;
  
   
}
form input{
    flex: 1;
    border: none;
    outline: none;
    font-weight: bold;
   font-family: 'Open Sans', sans-serif;
   background:#f0f0f0;
   font-size: 18px;
   
}

form button {
    background: #b4b4b3;
    padding:10px 50px;
    border: none;
    outline:none;
    color: white;
    letter-spacing: 1.5px;
    cursor: pointer;
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: bold;
   

}
form .fa-search{
    align-self: center;
    padding: 10px 20px;
    color:rgb(19, 55, 115);
}
form button,
form button .fa-search {
    cursor: pointer;
}

form button:active {
    background: white;
    color: #757575;
}

form button:focus {
    background: white;
    color: #757575;
}

h1 {
    color:#878787;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    
}
ul{
    margin:0;
    padding: 0;
}
li{
    list-style-type: none;
    margin:0;
    padding:none;
    color:#757575;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;

}


#icon {
    font-size: 40px;
}

.wrapper {
    
    width: 80%;
    margin: 0 auto;
    
}

.footer {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #b4b4b3; 
    color: white; 
    padding: 10px; 
    

}

.col-6 {
    border: none;
    padding: 10px;
    margin-top: 150px;
}

.temp {
    margin-left: 70px; 
    color:#757575
}