
body {
    display: flex;
    justify-content: center;
    height: 100vh; 
    align-items: center;
    margin:0;
}


.card {
   
    padding:2em;
    width:100%;
    max-width:700px;
    margin:1em;
     height:500px;
    
    
    
    border-radius: 15px;










    
}
form {
    background: #f0f0f0;
    width: 500px;
    display: flex;
    margin:0;
    border-color: #7D7C7C;
    align-items: center;
    justify-content: center;
    margin-left: 50px;

  
   
}
form input{
    flex: 1;
    border: black;
    outline: none;
    font-weight: bold;
   font-family: 'Open Sans', sans-serif;
   background:#f0f0f0;
   font-size: 18px;
   
}

form button {
    background: #b4b4b3;
    padding:10px 50px;
    border: none;
    outline:none;
    color: white;
    letter-spacing: 1.5px;
    cursor: pointer;
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: bold;
   

}
form .fa-search{
    align-self: center;
    padding: 10px 20px;
    color:black;
}
form button,
form button .fa-search {
    cursor: pointer;
}

form button:active {
    background: white;
    color: #757575;
}

form button:focus {
    background: white;
    color: #757575;
}

h1 {
    color:#757575;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    margin-left: 62px;
   
    }

li{
    list-style-type: none;
    margin:0;
    padding:none;
    color:white;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-transform: capitalize;

}


#icon {
    font-size: 40px;
    margin-left: 60px;
    margin-top: 10px;;

}



.footer {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #b4b4b3; 
    color: white; 
   
   
    

}
.col-6 {
    border: none;
    padding: 10px;
    margin-top: 100px;
    font-weight: bold;
 
    border-radius: 10px;
    
}








.temp {
   
    color:white;
}

.city {
    font-size: 24px;
    color: white;
 
   margin-top:20px;
}



.container {
    margin: 0 auto;
    padding: 30px; 
}

.button-clicked {
    background-color: black;
    color: white;
}

ul {
    margin-left: 60px;
    font-weight: bold;
    color:#fff;
    
}

#share-button {
    background-color:black; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}


#share-button:hover {
    background-color: gray;
}

.info-container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2px 0px; /* Add padding as needed */
    border-radius: 10px; /* Add border-radius for rounded corners */
    
}


